
Projects_StarterCodes/Project1-RNotebook/data/.Rhistory
Projects_StarterCodes/.DS_Store
.DS_Store
5-Spring2018/Projects_StarterCodes/Project1-RNotebook/.DS_Store
5-Spring2018/Tutorials/.DS_Store
5-Spring2018/Projects_StarterCodes/Project1-RNotebook/.DS_Store
